 @font-face{
    font-family: 'luxia';
    src: url(../fonts/Luxia-Regular.otf);
 }
 
 @import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
:root{
    --fonte: 'Alata', sans-serif; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    margin: 0px
}
.container {
    width: 100vw;
    height: 100vh;
    background: #110f0f;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box {
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 90vh;
    background: #fff;
    box-shadow: #000 5px 5px 10px;
    

}
/*imagem de background do form*/
.bgimg{
    width: 54vw;
    height: 90vh;
    background-image: url(../img/bgimgcad.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
/*foto serveur*/
.bgimg p{
 font-family:'luxia';
 font-size: 100px;
}
/*seção formularío*/
.secform{
    display: flex;
    width: 38vw;
    height: 90vh;
    background-image: url(../img/bgforms.svg);
    background-size: contain;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;         
}
/*imagem cadastre-se*/
#cadtext{
    font-family: 'luxia' ;
    font-size: 35px;
    margin-top: 20px;
}
/*formularios*/
.forms{
    width: 30vw;
    color: #ffffff;
    background-color: rgba(0, 0, 255, 0);
    border: none;
    border-bottom: 2px solid #ffffff;
    padding-block: 14px;
    font-family: var(--fonte);
}

/*botão de submit*/
.btn1{
    padding: 8px;
    color: white;
    background-color: #5A071F;
    border: 2px white solid;
    border-radius: 10px;
    transition-duration: 0.4s;
    font-family: var(--fonte);
    font-size: large;
    margin: 20px 0 10px 0;
}
/*btn já tem uma conta*/
.btn1:hover, a:hover{
    color: #8b0b2f;
    background-color: #ffffff92;
    transition-duration: 0.4s;
    font-family: var(--fonte);
}
/*botão google*/
.signgoogle{
    display: flex;
    flex-direction: column;
    align-items: center;


}
img{
    height: 69px;
    width: 272px;
    cursor: pointer;
}

h1{
    font-size: x-large;
    font-family: var(--fonte);
    color: #ffffff;
    padding: 0 23px;
}
#linha{
    display: flex;
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin-bottom: 20px;
}
a{
    text-decoration: none;
    color: #ffffff;

}

p{
    font-size: large;
    font-family: var(--fonte);
    background-color: transparent;
    color: #ffffff;
    padding: 0 10px;
    margin-bottom: 25px ;
}
a:hover{
    background-color: transparent;
    color: #b9b9b9;
}

/* media querie */
@media (max-width:788px){
    .bgimg{
        display: none;

    }
    .secform{
        width: 100%;
        height: 100%;
    }
    .forms{
        width: 70%;
    }
}
