/*Fonte Gayathri*/ @import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@100&display=swap');
/*Fonte Alegreya*/ @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&display=swap');
/*Fonte Alegreya*/ @import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

main{
    width: 100%;
    height: auto;
    margin: auto;
    background-color: #EFEFEF;
}

header{
    background-image: url(../img/fundo_etiqueta.jpeg);
    background-size: cover;
    height: 60vh;
    padding-top: 150px;
}

header #text_fundo{
    width: 30%;
    background-color: #84604a67;
    margin-left: 1.5%;
    border-radius: 20px;
}

div .h2_header{
    font-size: 40px;
    font-family: 'Gayathri', sans-serif;
    font-weight:300;
    color: white;
    text-align: center;
    padding: 15px 5px 0 5px;
}

div .p1{
    font-size: 24px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight:200;
    color: white;
    text-align: center;
    padding: 5px; 
}

/*     LINGUAGEM DOS PRATOS     */

#section1 {
    width: 90%;
    margin: auto;
}

#h2_Linguagem{
    margin: 40px 0 45px 0;
    text-align: center;
    color: rgba(92, 39, 15, 1);
    font-family: 'Encode Sans', sans-serif;
    font-size: 40px;
}

#Linguagem_dos_pratos{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;
}

#section1 img{
    border-radius: 15%;
    width: 140px;
    height: 140px;
    margin-left: 15px;
    transition: 200ms transform;
}

#section1 img:hover{
    transform: scale(1.2);
}

/*     LISTA DE ETIQUETA     */ 

#secao_etiqueta{
    width: 90%;
    margin: auto;
}

#secao_etiqueta div{
    display: flex;
    justify-content:center;
    align-items: center;
    
}


#titulo_etiqueta #Etiqueta{
    font-family: 'Encode Sans', sans-serif;
    font-size: 40px;
    color: #5c270f;
    margin-top: 50px;
}

#secao_etiqueta img{
    width: 40px;
    height: 35px;
    border-radius: 25px;
}



#div2{
    margin-top: 60px;
}

#div2 #lista_de_etiqueta{
    text-align: justify;
    font-family: 'Encode Sans', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #0a0a0a;
    line-height: 50px;
    margin-bottom: 30px;
}

/*      VIDEO CURSO         */

#curso{
    width: 100%;
    display: flex;
    justify-content:center;
    flex-direction: row;

}

#curso h2{
    text-align: center;
    font-family: 'Encode Sans', sans-serif;
    font-size: 40px;
    color: #5c270f;
    margin: 60px 0 50px 0 ;
}

#youtube iframe{
    position: relative;
    width: 600px;
    height: 400px;
    border: 2px solid #5c270f;
    border-radius: 10px;
    margin-bottom: 70px;
}

/*    FOOTER     */
footer{
    background-color: #5A071F;
    background-size: cover;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}


#logo_rodape h1{
    font-size: 40px;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
}

#links a{
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    margin-left: 20px;
}

#links a:hover{
    color: #6c6c6c;
    transition: 1s;
}

#redesocial svg{
    color: #cecece;
    margin-left: 10px;
}

#redesocial svg:hover{
    color: #6c6c6c;
    transition: 1s;
}

#redesocial .contato{
    background-color: #cecece;
    color: #757575;
    padding: 6px;
    text-align: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    border-radius: 20px;
    align-items: center;
}

@media screen and (max-width:500px) {
    
    header #text_fundo{
        width: 98%;
    }
    #youtube iframe{
        width: 95%;
    }
}

