@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

* {
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}

:root {
   --corDeFundo: #5A071F;
   --corBotao: #421C29;
   --fonte: 'Alata', sans-serif;
}

/* configurando a home com uma plano de fundo */
.home {
   height: 100vh;
   background-image: url(../img/bg-home.svg);
   background-size: cover;
   background-position: center;
}

/* logo */
.homeLogo {
   display: flex;
   margin-top: 150px;
   margin-left: 100px;
   font-size: 42px;
   color: #fff;
   text-transform: uppercase;
}

/* v alaranjado da home */
.home span {
   color: var(--corDeFundo);
}

/* titulo da pagina inicial */
.homeTitle {
   display: flex;
   margin-top: 12px;
   margin-left: 100px;
   font-size: 60px;
   color: #fff;
   max-width: 795px;
   font-family: var(--fonte);
   /*-webkit-text-stroke: 3px #000;*/
}

/* descrição da home */
.homeDesc {
   display: flex;
   margin-top: 14px;
   margin-left: 100px;
   color: #fff;
   max-width: 655px;
   font-size: 25px;
   font-family: var(--fonte);
}

.evento {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--corDeFundo);
   width: 100%;
   height: 90vh;
}

.promover-evento {
   background-image: url(../img/bg-evento.svg);
   background-size: cover;
   width: 80%;
   height: 80%;
}

.promover-evento_conteudo {
   display: flex;;
   flex-direction: column;
   justify-content: space-between;
   float: right;
   width: 25vw;
   height: 78%;
   padding: 50px 20px;
   text-align: center;
   color: var(--corDeFundo);
   font-family: var(--fonte);
}

.botao-promover {
   display: inline-block;
   width: 80px;
   padding: 10px;
   text-align: center;
   border: 2px solid var(--corBotao);
   border-radius: 20px;
   background-color: var(--corBotao);
   color: #FFF;
   margin: auto;
   cursor: pointer;
   transition: 200ms;
}

.botao-promover:hover {
   transform: scale(1.1);
   background-color: #FFF;
   color: var(--corDeFundo);
}

.promover-evento_conteudo h2 {
   font-size: 30px;
   margin-bottom: 30px;
}

.promover-evento_conteudo p:not(.botao-promover) {
   font-size: 25px;
}

.contratar {
   width: 100%;
   font-family: var(--fonte);
   padding: 0 30px;
   box-sizing: border-box;
}

.contratar h1 {
   font-size: 40px;
   text-align: center;
   margin: 40px 0 50px;
}

.contratar_lista {
   display: grid;
   grid-template-columns: auto auto auto;
   gap: 30px;
   max-width: 1000px;
   margin: 0 auto 50px;
}

.contratar_lista li {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 300px;
   height: 400px;
   padding: 30px 30px 0;
   box-sizing: border-box;
   background-color: #D9D9D9;
   list-style: none;
}

.contratar_lista li img {
   width: 100px;
   margin-bottom: 5px;
   border-radius: 100px;
   height: 100px;
}

.contratar_lista li h4 {
   font-size: 22px;
   margin: 30px 0 70px;
}

.contratar_lista li .botao-contratar {
   font-size: 20px;
   padding: 10px 20px;
   border: 3px solid var(--corDeFundo);
   border-radius: 15px;
   cursor: pointer;
   transition: 200ms;
}

.botao-contratar:hover {
   transform: scale(1.1);
   background-color: var(--corDeFundo);
   color: #FFF;
}

@media screen and (max-width: 1040px) {
   .contratar_lista {
      grid-template-columns: auto auto;
      max-width: 700px;
   }
}

@media screen and (max-width: 700px) {
   .contratar_lista {
      grid-template-columns: auto;
      width: 300px;
   }
}

@media screen and (max-width: 402px) {
   .contratar h1 {
      font-size: 30px;
   }
}

footer{
   display: flex;
   margin-top: 250px;
   height: 190px;
   background-image: url(../img/fundo_footer.png);
}

#logo_footer{
   display: flex;
   font-size: 65px;
   align-items: center;
   margin-left: 50px;
   color: #fff;
   font-family: luxia;
   font-weight: 400;
   
}

#links_footer{
   display: flex;
   align-items: center;
   margin-bottom: 50px;
   margin-left: 7%;
}

#links_footer a{
   color: #fff;
   padding: 40px;
   font-size: 20px;
   font-family: alata;
}

#redes_footer{
   margin-top: 40px;
   margin-left: 100px;
}

#redes_footer button{
   position: absolute;
   background-color: #D9D9D9;
   border: navajowhite;
   border-radius: 20px;
   padding: 10px 80px;
   color: #8A8989;
   margin-top: 70px;
   right: 120px;
   font-family: alata;
   font-size: 18px;
   cursor: pointer;
}

@media only screen and (max-width: 1188px) {
   #logo_footer{
      display: none;
   }

   #links_footer{
      flex-direction: column;
      width: 100%;
   }

   #links_footer a{
      padding: 23px;
      width: 100%;
      height: 40px;
      font-size: 19px;
   }

   #redes_footer img{
      width: 30%;
   }
   
   #redes_footer button{
      width: 20%;
      height: 30px;
      padding: 3px 10px 3px 10px;
      font-size: 10px;
      left: 79%;
   }
}

@media screen and (max-width: 768px) {
   #logo_footer {
      display: none;
      font-size: 10px;
   }
}