/*Fonte Gayathri*/ @import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@100&display=swap');
/*Fonte Alegreya*/ @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&display=swap');
/*Fonte Encode*/ @import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300&display=swap');

@font-face {
   font-family: 'luxia';
   src: url('../fonts/Luxia-Display.otf');
}

:root {
   --corDeFundo: #5A071F;
   --corBotao: #421C29;
   --fonte:'Encode Sans', sans-serif;
}

* {
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}

html::-webkit-scrollbar {
   width: 12px;
}
 
html::-webkit-scrollbar-track {
   background: #000000;
}

html::-webkit-scrollbar-thumb {
   background-color: #421C29;
   border-radius: 20px;
   border: 3px solid #421C29;
}

html {
   min-width: 250px;
   font-size: 10px;
}

.home {
   display: flex;
   align-items: center;
   height: 100vh;
   padding: 10vh 8vw;
   box-sizing: border-box;
   background-image: url(../img/bg-home.png);
   background-size: cover;
   background-position: center;
}


.home_logo {
   display: flex;
   margin-bottom: 15px;
   font-size: 4.2rem;
   color: #FFF;
   text-transform: uppercase;
   font-family: 'luxia';
}

.home span {
   color: var(--corDeFundo);
}

.home_title {
   width: 700px;
   font-size: 6rem;
   font-weight: bold;
   color: #FFF;
   max-width: 795px;
   font-family: var(--fonte);
}

.home_description {
   display: flex;
   margin-top: 30px;
   color: #fff;
   max-width: 655px;
   font-size: 2.5rem;
   font-family: var(--fonte);
}

@media screen and (max-width: 600px) {
   html {
      font-size: 8px;
   }
   .container-home {
      text-align: center;
   }
   .home_logo {
      margin-bottom: 30px;
   }
   .home_title {
      width: auto;
      padding: 5px 0;
   }
}

@media screen and (max-width: 420px) {
   .home_title {
      font-size: 5rem;
   }
}

.evento {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--corDeFundo);
   width: 100%;
   height: 90vh;
}

.promover-evento {
   display: flex;
   justify-content: end;
   background-image: url(../img/bg-evento.png);
   background-size: cover;
   background-position-x: right;
   padding: 0 3%;
   box-sizing: border-box;
   width: 80%;
   height: 80%;
}

.promover-evento_conteudo {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   width: 25vw;
   height: 100%;
   padding: 20px 20px;
   box-sizing: border-box;
   text-align: center;
   color: var(--corDeFundo);
   font-family: var(--fonte);
}

.promover-evento_conteudo h2 {
   font-size: 3rem;
   margin-bottom: 0;
}

.promover-evento_conteudo p:not(.botao-promover) {
   font-size: 2.5rem;
}

.botao-promover {
   display: inline-block;
   width: 100px;
   padding: 10px;
   text-align: center;
   font-size: 2rem;
   border: 2px solid var(--corBotao);
   border-radius: 20px;
   background-color: var(--corBotao);
   color: #FFF;
   margin: 0 auto;
   cursor: pointer;
   transition: 200ms;
}

.botao-promover:hover {
   transform: scale(1.1);
   background-color: #FFF;
   color: var(--corDeFundo);
}

@media screen and (min-width: 1300px) {
   .promover-evento_conteudo {
      justify-content: space-around;
      padding: 70px 20px;
   }
   .promover-evento_conteudo h2 {
      margin-bottom: 0;
   }
   .botao-promover {
      margin: 0 auto;
   }
}

@media screen and (max-width: 990px) {
   .promover-evento {
      padding: 0 50px;
   }
   .promover-evento_conteudo {
      width: auto;
      color: #000;
   }
   .promover-evento_conteudo h2 {
      text-decoration: underline;
   }
   .promover-evento_conteudo p {
      font-weight: bold;
   }
}

@media screen and (max-width: 600px) {
   .promover-evento {
      background-image: none;
      background-color: #FFF;
      width: 90%;
      padding: 0 20px;
   }
}

.contratar {
   width: 100%;
   font-family: var(--fonte);
   padding: 0 30px;
   box-sizing: border-box;
}

.contratar h1 {
   font-size: 4rem;
   text-align: center;
   margin: 40px 0 50px;
   padding: 1px 0;
}

.contratar_lista {
   display: grid;
   grid-template-columns: 300px 300px 300px;
   justify-content: center;
   gap: 30px;
   max-width: 1000px;
   margin: 0 auto 50px;
}

.contratar_lista li {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 300px;
   height: 400px;
   padding: 30px 30px 0;
   box-sizing: border-box;
   background-color: #CCC;
   list-style: none;
}

.contratar_lista li img {
   width: 100px;
   margin-bottom: 5px;
   border-radius: 100px;
   height: 100px;
}

.contratar_lista li p {
   font-size: 18px;
   padding: 1px;
}

.contratar_lista li h4 {
   font-size: 25px;
   margin: 30px 0 70px;
}

.contratar_lista li .botao-contratar {
   font-size: 20px;
   font-weight: bold;
   padding: 10px 20px;
   border: 3px solid var(--corDeFundo);
   border-radius: 15px;
   cursor: pointer;
   transition: 200ms;
}

.botao-contratar:hover {
   transform: scale(1.1);
   background-color: var(--corDeFundo);
   color: #FFF;
}

@media screen and (max-width: 1040px) {
   .contratar_lista {
      grid-template-columns: 300px 300px;
      max-width: 700px;
   }
}

@media screen and (max-width: 700px) {
   .contratar_lista {
      display: flex;
      justify-content: flex-start;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      width: 300px;
   }

   .contratar_lista::-webkit-scrollbar {
      height: 12px;
   }
   
   .contratar_lista::-webkit-scrollbar-thumb {
      background-color: #888;
      border-radius: 20px;
      border: 3px solid #FFF
   }

   .contratar_lista li {
      scroll-snap-align: start;
      min-width: 300px;
   }
}

@media screen and (max-width: 402px) {
   .contratar h1 {
      font-size: 3rem;
   }
}

@media screen and (max-width: 370px) {
   .contratar_lista {
      width: 100%;
   }
   .contratar_lista li {
      min-width: calc(100vw - 60px);
   }
}

@media screen and (max-width: 250px) {
   .contratar_lista li {
      min-width: 190px;
   }
}

footer{
   display: flex;
   height: 190px;
   background-image: url(../img/fundo_footer.png);
}

#logo_footer{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 25%;
   font-size: 5rem;
   font-family: luxia;
   font-weight: 400;
   color: #fff;
}

#links_footer{
   display: flex;
   justify-content: space-evenly;
   width: 50%;
   align-items: center;
}

#links_footer a{
   color: #fff;
   font-size: 2rem;
   font-family: alata;
   text-decoration: none;
   transition: 200ms transform;
}

#links_footer a:hover{
   transform: scale(1.1);
}

#redes_footer{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

#redes_footer button{
   padding: 10px 0;
   width: 90%;
   border-color: navajowhite;
   border-radius: 20px;
   font-family: alata;
   font-size: 1.8rem;
   background-color: #D9D9D9;
   color: #8A8989;
   cursor: pointer;
   transition: 200ms transform;
}

#redes_footer button:hover{
   transform: scale(1.1);
}

@media screen and (max-width: 900px) {
   footer {
      flex-direction: column;
      align-items: center;
      height: auto;
      padding: 30px;
      box-sizing: border-box;
   }

   #logo_footer {
      width: auto;
   }

   #links_footer {
      flex-direction: column;
      height: 200px;
   }

   #redes_footer {
      padding: 10px 20px;
   }
}

@media screen and (max-width: 325px) {
   footer {
       padding: 30px 10px;
   }

   #redes_footer {
       padding: 10px 0;
   }
}