@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

/* CSS reset */
* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

:root {
    --corDeFundo: #BF520A;
    --fonte: 'Alata', sans-serif;
}

body {
    background-color: var(--corDeFundo);
}


/* estilizando o menu hamburguer */
.mobile-menu {
    position: absolute;
    top: 12px;
    left: 50px;
    cursor: pointer;
    background-color: var(--corDeFundo);
    padding: 5px;
    border-radius: 15px;
    z-index: 100;
}
  
/* estilizando todas as divs dentro do menu */
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

/* estilizando a lista aonde ficará os links */
.nav-list {
    display: flex;
    list-style: none;
    position: absolute;
    top: 8vh;
    right: left;
    width: 385px;
    height: 634px;
    border-radius: 0 20px 20px 0;
    background: var(--corDeFundo);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
    z-index: 100;
    overflow: hidden;
}
  
/* mais configurações para as fontes */
.nav-list li {
    margin-left: 0;
    letter-spacing: 3px;
    margin: auto;
    opacity: 0;
}

/* estlizando o titulo serveur dentro do menu */
.nav-list li:first-child {
    color: #fff;
    text-transform: uppercase;
    font-family: serif;
    font-size: 25px;
}

/* links do menu */
.nav-list li a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    font-family: var(--fonte);
    font-size: 22px;
}
  
/* função hover dos links do menu */
.nav-list li a:hover {
    opacity: 0.7;
}
  
/* linha branca traçada embaixo de cada link */
.line {
    width: 80%;
    height: 1px;
    background-color: #fff;
}

/* trazendo a caixa contendo os links para a posição inicial (0) */
.nav-list.ativo {
    transform: translateX(0);
}
 
/* keyframe de animação para trazer a caixa */
@keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
}
  
/* estilizando o menu hamburguer para, quando clicado, mudar a posição das linhas formando um x */
.mobile-menu.ativo .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
  
.mobile-menu.ativo .line2 {
    opacity: 0;
}
  
.mobile-menu.ativo .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/* ----> Logo para mobile <---- */
.navLogo {
    display: none;
}
  
/* ----->FIM DO MENU HAMBURGUER<----- */

/* ----> HOME <---- */

/* configurando a home com uma plano de fundo */
.home {
    height: 917px;
    background-image: url(../img/home-img.png);
    background-size: cover;
    background-position: center;
}

/* logo */
.homeLogo {
    display: flex;
    margin-top: 212px;
    margin-left: 100px;
    font-size: 61px;
    color: #fff;
    text-transform: uppercase;
}

/* v alaranjado da home */
.home span {
    color: var(--corDeFundo);
}

/* titulo da pagina inicial */
.homeTitle {
    display: flex;
    margin-top: 24px;
    margin-left: 100px;
    font-size: 80px;
    color: #fff;
    max-width: 795px;
    font-family: var(--fonte);
    /*-webkit-text-stroke: 3px #000;*/
}

/* descrição da home */
.homeDesc {
    display: flex;
    margin-top: 14px;
    margin-left: 100px;
    color: #fff;
    max-width: 655px;
    font-size: 30px;
    font-family: var(--fonte);
}

/* primeiro botão "empresas" */
.first {
    margin-left: 100px;
    margin-right: 25px;
}

/* configurando os dois botões */
a input {
    height: 50px;
    width: 254px;
    font-size: 32px;
    margin-top: 25px;
    color: #fff;
    background-color: var(--corDeFundo);
    border: none;
    border-radius: 20px;
}

/* ---->FIM HOME<---- */


/* ---->INÍCIO SOBRE NÓS<---- */

/* texto sobre nos */
.aboutUsTitle {
    display: flex;
    margin-left: 110px;
    margin-top: 100px;
    font-size: 80px;
    color: #fff;
    text-transform: uppercase;
    font-family: var(--fonte);
}

/* descrição da area sobre nos */ 
.aboutUsDesc {
    display: flex;
    margin-left: 110px;
    margin-top: 25px;
    color: #fff;
    font-size: 48px;
    max-width: 631px;
    font-family: var(--fonte);
    z-index: 5612;
}

/* ----> imagem do GARÇOM <---- */
#waiterImg {
    position: absolute;
    right: 0;
    top: 825px;
}


/* ----> FMI SOBRE NÓS <---- */

/* visualização mobile */
@media only screen and (max-width: 768px) {
    .homeLogo {
        display: none;
        height: auto;
    }

    .homeTitle {
        width: 80%;
        margin: auto;
        text-align: center;
        font-size: 60px;
        margin-top: 150px;
    }
    
    .homeDesc {
        width: 80%;
        margin: auto;
        text-align: center;
        font-size: 34px;
    }
    
    a input {
        display: block;
        margin: auto;
        height: 50px;
        width: 70%;
        font-size: 32px;
        color: #fff;
        background-color: var(--corDeFundo);
        border: 1px solid #000;
        border-radius: 10px;
    }

    .home a {
        text-decoration: none;
    }

    .navLogo {
        display: block;
        position: absolute;
        color: #fff;
        top: 10px;
        right: 30px;
        font-size: 28px;
        text-transform: uppercase;
    }
    
    .navLogo span {
        color: #BF520A;   
    }
    
    #waiterImg {
        display: none;        
    }

    .aboutUs {
        margin-left: 0;
    }

    .aboutUsTitle {
        display: block;
        margin-left: 0;
        text-align: center;
    }
    
    .aboutUsDesc {
        display: block;
        margin: 30px auto 0 auto;
        max-width: auto;
        text-align: center;
    }
}

@media only screen and (max-width: 550px) {
    .homeTitle {
        font-size: 40px;
    }

    .homeDesc {
        font-size: 28px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .aboutUs {
        height: 500px;
    }

    .aboutUsTitle {
        font-size: 50px;
    }
    
    .aboutUsDesc {
        font-size: 28px;
    }

    .mobile-menu {
        left: 25px;
    }
    
    .navLogo {
        font-size: 22px;
        right: 5px;
    }
}

@media only screen and (max-width: 1188px) {
    .homeLogo {
        margin-top: 170px;
    }

    .aboutUs {
        height: 800px;
    }

    #waiterImg {
        display: none;
    }

    .aboutUsTitle {
        display: block;
        margin-left: 0;
        text-align: center;
    }
    
    .aboutUsDesc {
        display: block;
        margin: 30px auto 0 auto;
        max-width: 800px;
        text-align: center;

    }
}