@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

/* CSS reset */
* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

:root {
    --corDeFundo: #5A071F;
    --corBotao: #421C29;
    --fonte: 'Alata', sans-serif;
}

body {
    background-color: var(--corDeFundo);
}


/* estilizando o menu hamburguer */
.mobile-menu {
    position: absolute;
    top: 12px;
    left: 50px;
    cursor: pointer;
    background-color: var(--corDeFundo);
    padding: 5px;
    border-radius: 15px;
    z-index: 100;
}
  
/* estilizando todas as divs dentro do menu */
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

/* estilizando a lista aonde ficará os links */
.nav-list {
    display: flex;
    list-style: none;
    position: absolute;
    top: 8vh;
    right: left;
    width: 385px;
    height: 90vh;
    border-radius: 0 20px 20px 0;
    background: var(--corDeFundo);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
    z-index: 100;
    overflow: hidden;
}
  
/* mais configurações para as fontes */
.nav-list li {
    margin-left: 0;
    letter-spacing: 3px;
    margin: auto;
    opacity: 0;
}

/* estlizando o titulo serveur dentro do menu */
.nav-list li:first-child {
    color: #fff;
    text-transform: uppercase;
    font-family: serif;
    font-size: 25px;
}

/* links do menu */
.nav-list li a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    font-family: var(--fonte);
    font-size: 22px;
}
  
/* função hover dos links do menu */
.nav-list li a:hover {
    opacity: 0.7;
}
  
/* linha branca traçada embaixo de cada link */
.line {
    width: 80%;
    height: 1px;
    background-color: #fff;
}

/* trazendo a caixa contendo os links para a posição inicial (0) */
.nav-list.ativo {
    transform: translateX(0);
}
 
/* keyframe de animação para trazer a caixa */
@keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
}
  
/* estilizando o menu hamburguer para, quando clicado, mudar a posição das linhas formando um x */
.mobile-menu.ativo .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
  
.mobile-menu.ativo .line2 {
    opacity: 0;
}
  
.mobile-menu.ativo .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/* ----> Logo para mobile <---- */
.navLogo {
    display: none;
}
  
/* ----->FIM DO MENU HAMBURGUER<----- */

/* ----> HOME <---- */

/* configurando a home com uma plano de fundo */
.home {
    height: 768px;
    background-image: url(../img/bgImg.png);
    background-size: cover;
    background-position: center;
}

/* logo */
.homeLogo {
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
    font-size: 42px;
    color: #fff;
    text-transform: uppercase;
}

/* v alaranjado da home */
.home span {
    color: var(--corDeFundo);
}

/* titulo da pagina inicial */
.homeTitle {
    display: flex;
    margin-top: 12px;
    margin-left: 100px;
    font-size: 60px;
    color: #fff;
    max-width: 795px;
    font-family: var(--fonte);
    /*-webkit-text-stroke: 3px #000;*/
}

/* descrição da home */
.homeDesc {
    display: flex;
    margin-top: 14px;
    margin-left: 100px;
    color: #fff;
    max-width: 655px;
    font-size: 25px;
    font-family: var(--fonte);
}

/* adicionando botões de empresas e freelancer */
button {
    margin-top: 20px;
    text-transform: uppercase;
}

/* estilizando a distancia do primeiro botão */
#first {
    margin-left: 102px;
    margin-right: 25px;
}

/* estilizando o botão em si */
.custom-btn {
    width: 254px;
    height: 50px;
    color: #fff;
    border-radius: 20px;
    border: 1px solid #000;
    font-family: var(--fonte);
    align-items: center;
    text-align: center;
    font-size: 32px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
}

/* como no CodePenn havia mais exemplares, este é o botão 11. aqui abaixo está a sua estilização */
.btn-11 {
    background: rgb(66, 28, 41);
    color: #fff;
    overflow: hidden;
}

/* função hover do botão */
.btn-11:hover {
    text-decoration: none;
    color: #fff;
    opacity: .7;
}

/* flash que passa entre os botões */
.btn-11:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
}

/* quando deixar o mouse sobre o botão, gerar sombreamento no botão */
.btn-11:active {
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3), -4px -4px 6px 0 rgba(116, 125, 136, .2), inset -4px -4px 6px 0 rgba(255,255,255,.2),inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

/* função de animação com o flash do botão  */
/* @-webkit-keyframes */
@keyframes shiny-btn1 {
    0% {
        -webkit-transform: scale(0) rotate(45deg); opacity: 0; 
    }

    80% { 
        -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; 
    }

    81% { 
        -webkit-transform: scale(4) rotate(45deg); opacity: 1; 
    }
    100% { 
        -webkit-transform: scale(50) rotate(45deg); opacity: 0; 
    }
}
/* ---->FIM HOME<---- */


/* ---->INÍCIO SOBRE NÓS<---- */
.aboutUs {
    height: 450px;
}

/* texto sobre nos */
.aboutUsTitle {
    display: flex;
    margin-left: 110px;
    margin-top: 70px;
    font-size: 55px;
    color: #fff;
    text-transform: uppercase;
    font-family: var(--fonte);
}

/* descrição da area sobre nos */ 
.aboutUsDesc {
    display: flex;
    margin-left: 110px;
    margin-top: 25px;
    color: #fff;
    font-size: 35px;
    max-width: 631px;
    font-family: var(--fonte);
}

/* ----> imagem do GARÇOM <---- */
#waiterImg {
    position: absolute;
    right: 0;
    height: 550px;
    top: 668px;
}

footer {
    height: auto;
    background-color: #000;
}

.footerLogo {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
}

.lineLogoFooter {
    width: 30%;
    height: 1px;
    background-color: #fff;
    margin: 0px auto;
}

.containerFooter {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.boxFooter {
    width: 30%;
    height: 250px;
}

.boxFooter ul {
    list-style: none;
}

.boxFooter ul li {
    margin: 30px 0;
}

.boxFooter ul li a {
    font-size: 25px;
    text-decoration: none;
    transition: .25s ease-in-out;
}

.boxFooter ul li a:hover {
    font-size: 27px;
    transition: .25s ease-in-out;
    color: #ccc;
}

.line100Footer {
    width: 100%;
    height: 1px;
    background-color: #fff;
}

.social {
    margin: auto;
}

.social ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.social ul li {
    margin: 15px 10px;
}

.social ul li a {
    font-size: 25px; 
}

.footerDesc {
    text-align: center;
    margin-bottom: 20px;
}

/* ----> FIM SOBRE NÓS <---- */

/* visualização mobile */
@media only screen and (max-width: 768px) {
    .homeLogo {
        display: none;
    }

    .homeTitle {
        width: 90%;
        margin: auto;
        text-align: center;
        font-size: 50px;
        margin-top: 150px;
    }
    
    .homeDesc {
        width: 90%;
        margin: auto;
        text-align: center;
        font-size: 28px;
    }

    .buttons {
        display: flex;
        justify-content: space-around;
    }
    
    #first {
        margin: 20px 0 0 0;
    }
    
    @media only screen and (max-width: 504px) {
        .buttons {
            align-items: center;
            flex-direction: column;
        }
    }
    .navLogo {
        display: block;
        position: absolute;
        color: #fff;
        right: 30px;
        top: 5px;
        font-size: 22px;
        text-transform: uppercase;
    }
    
    .navLogo span {
        color: var(--corDeFundo);   
    }
    
    #waiterImg {
        display: none;        
    }

    .aboutUs {
        margin-left: 0;
    }

    .aboutUsTitle {
        display: block;
        margin-left: 0;
        text-align: center;
    }
    
    .aboutUsDesc {
        display: block;
        margin: 30px auto 0 auto;
        max-width: auto;
        text-align: center;
    }
}

@media only screen and (max-width: 550px) {
    .homeTitle {
        font-size: 40px;
    }

    .homeDesc {
        font-size: 28px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .aboutUs {
        height: 500px;
    }

    .aboutUsTitle {
        font-size: 50px;
    }
    
    .aboutUsDesc {
        font-size: 28px;
    }

    .mobile-menu {
        left: 25px;
    }
    
    .navLogo {
        font-size: 22px;
        right: 5px;
    }
}

 @media only screen and (max-width: 1065px) {
    .homeLogo {
        margin-top: 100px;
        margin-left: 20px;
    }

    .homeTitle, .homeLogo, .homeDesc, #first {
        margin-left: 20px;
    }

    #waiterImg {
        display: none;
    }

    .aboutUsTitle {
        display: block;
        margin-left: 0;
        text-align: center;
    }
    
    .aboutUsDesc {
        display: block;
        margin: 30px auto 0 auto;
        max-width: 800px;
        text-align: center;
    }
}
